
@media screen and (max-width:500px) {
    /*  mobile menu links start 
    .li-a{
        position: absolute;
        background-color: #237d31;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align:left ;
        transition: 1s;
        z-index: 1.5;
    } 
    .li-a ul li{
        display: block;

    }
    .li-a ul li a{
        color: #fff;
    }

    .links i{
        display: block;
        color: #070707;
        margin: 10px;
        text-transform: uppercase;
        font-size: 22px;
        cursor: pointer;
    }
    
     mobile menu links ends */
    /* section 1 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main-head{
        background-color:rgba(216, 207, 207, 0.3);
        padding: 10px;
        margin: 0px auto;
        display: flex;
        width: 357px;
        flex-direction: column;
    }
    .links{
        background-color: rgb(255, 253, 251);
        margin: 9px auto;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .li-a ul{
        display:flex;
        flex-direction: column;
        text-decoration: none;
        padding: 9px;
        text-decoration: none;
        color: #0e0d0d;
        padding: 3px;
        align-items: right;
    }
    
    .reg{
        color: rgb(221, 230, 238);
        background-color: rgb(80, 214, 80);
        width: 133px;
    }
    .main-image{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .img-1{
        width: 300px;
    }
    .small{
        width: 200px ;
        margin-right: 12px;
    }
    /*Our Clients section 2 */
.Our-Clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px auto;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px auto;
    padding: 10px;
    height: fit-content;

}

.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:fit-content;
    margin: 25px auto;
    padding: 20px;
}
.greenback-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:fit-content;
    margin: 20px;
    padding: 15px;
}

/* section 3 */
.section-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px auto;
    width:270px;

}
.section-3 h4{
    margin: 20px;
}
.section-3 p{
    margin: 20px auto;
}
.section-3 a{
    padding: 7px;
    margin: 10px auto;
    text-decoration: none;
    width: 100px;
  
}

/* section-4 */
.section-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;

}
.section-4-p{
    width: 160px;
}
.business{
    color: #237d31;
}
.span-1{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: space-between;
    margin: 10px auto;
}
.span-1-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9px;
}
.span-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
}
.span-2-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9px;
}
/* section 5  */
.section-5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 8px  ;

}
.section-5 h4{
    margin: 28px;
}
.section-5 a{
    padding: 8px;
    margin: 20px;
    width: 99px;
    text-decoration: none;
}
.section-5 img{
    width: 340px;
}


/*section 6  */
.section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    background-color: #f9fdffe8;
   

}
.section-6 h5{
    margin: 20px;
    color: green;

}
.section-6 p{
    margin: 10px;
    width:220px;
}
.section-6 a{
    padding: 9px;
    margin: 10px;
    text-decoration: none;
    width: 200px;

}

.icons-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

/* section 7 */

.section-7 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 10px;
}
.section-7 h4{
    margin: 12px;
}
.section-7 p{

    margin: 20px;
    padding: 10px;
}
.divs-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    justify-content: space-around;

}

.divs1{
    margin:20px;
}
.divs2{
    margin:20px;
}
.divs3{
    margin: 20px;
}

/* last section */
.last-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
    padding: 8px;   
    width: 350px;
    
}
/* last section */
.last-sec a{
    width: 200px;
    padding: 10px;
    margin: 12px;
}

/* footer */

.last{
    background-color: #000000;
    color: antiquewhite;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width:359px;
}
.last-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
  
    margin: 7px;

}
.last-1 h3{
    margin: 10px;
    padding: 10px;
   
}


.last-2{
    align-items: center;
    padding: 10px ;
    margin: 9px; 

}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
}
li:hover{
    color: #0e0d0d;
    background-color:white ;
}

.last-4{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 10px ;
    margin: 9px;

}
.last-4 h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: large;

}
input{
    padding: 10px;
    margin: 7px;
    background-color: #c9c7c7;
}

}